* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*Utility Classes */
.btn-primary {
  background: #1ed760;
  color: #2941ab;
  text-transform: uppercase;
  padding: 13px 15px;
  border: none;
  border-radius: 30px;
  letter-spacing: 0.01px;
  font-weight: bold;
  margin-top: 15px;
}

.btn-primary:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.logo {
  height: 40px;
  width: auto;
}

/* Navbar */
#navbar {
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  top: 0;
  width: 100%;
}

#navbar .navbar-container {
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
  font-weight: normal;
}

#navbar .navbar-container ul li {
  padding: 0 15px;
  transition: all 500ms ease;
  font-weight: bold;
}

#navbar .navbar-container ul li:hover {
  color: #1ed760;
  cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}

/* Showcase */
#showcase {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1ed760;
  background: url("../img/Spotify.png") center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase .showcase-container h2 {
  font-size: 8rem;
  text-align: center;
}

#showcase .show-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}

/* Footer */
#footer {
  background: black;
  color: white;
  padding: 80px 0;
  width: 100%;
}

#footer .footer-content {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

#footer .footer-content .footer-menu {
  margin: 0 60px;
  list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
  margin: 25px 0;
  transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
  color: #1db954;
  cursor: pointer;
}

#footer .footer-content .footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #919496;
  font-size: 0.8rem;
}

/* Fotter Socials */
.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  transition: all 300ms ease;

  background: rgb(56, 53, 53);
  box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  transition: transform 500ms ease;
}

.socials i:hover {
  color: #1db954;
  cursor: pointer;
}

/* Footer Info */
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  font-weight: bold;
  color: #919496;
  font-size: 0.75rem;
  padding: 50px;
}

.footer-info .footer-info-items {
  display: flex;
  list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
  margin: 0 10px;
  transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
  color: #1db954;
  cursor: pointer;
}

.footer-info .rights .country {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}
.footer-info .rights .country p {
  transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
  color: #1db954;
  cursor: pointer;
}

.ml-5 {
  margin-left: 5px;
}

.font-arial {
  font-family: Arial;
}

@media (max-width: 1100px) {
  .logo {
    height: 15px;
  }

  #navbar .navbar-container ul {
    align-items: center;
    font-size: 10px;
  }

  #navbar .navbar-container ul li {
    padding: 0 5px;
  }

  #showcase .showcase-container h2 {
    font-size: 5rem;
  }

  #footer .footer-content {
    flex-direction: column;
  }

  .footer-info .footer-info-items {
    flex-direction: column;
  }
}
